

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.train-times-search{
  width:100%;
}



#moreTimes{
  font-size: 1.2em;
}

.form-control{
  height: 70px;
  font-size: 1.8em;
}
.btn-success{
  float:right;
}

body{
background-image: url(../img/trainPhoto.jpg);
opacity: 1.0;
height: 100%; 
  background: url(../img/trainPhoto.jpg) no-repeat center fixed;
  background-size: cover;
}

.jumbotron {
  display: inline-block;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
}

.customList {
  list-style-type: none;
  font-size: 1.5em;
}

.customList li{
  padding: 5px;

}
