

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.train-times-search{
  width:100%;
}
.train-times-search2{
  width:30%;
  float:right;
}

.train-times-search2 h2{
  font-size: 1em;
}



#moreTimes{
  font-size: 1.2em;
}

.form-control{
  height: 70px;
  font-size: 1.8em;
}
.btn-success{
float:right;
}

body{
background-image: url(/WebDevelopmentProject/trainPhoto.jpg);
opacity: 1.0;
height: 100%; 
}

.jumbotron {
  margin-top: 50px;
}

.customList {
  list-style-type: none;
  font-size: 1.5em;
}

.customList li{
  padding: 5px;

}











